@use "core/_variables.scss" as variables;

@mixin commonStyles($size) {
  height: var(--button-#{$size}-height);
  min-width: var(--button-#{$size}-min-width);
  padding: var(--button-#{$size}-padding);
  font-size: var(--button-#{$size}-font-size);
}

.vcu-button {
  border-radius: variables.$borderRadius;
  cursor: pointer;

  &--small {
    @include commonStyles(small);
  }

  &--medium {
    @include commonStyles(medium);
  }

  &--large {
    @include commonStyles(large);
  }
}
