$fontSize: 14px;
$borderRadius: 8px;

$spacing: (
  sm: 10px,
);

$color: (
  soft-gray: #F5F5F5,
  charcoal-black:  #222222,
  neutral: #6B7280,
  info: #3B82F6,
  warning: #F59E0B,
  success: #34D399,
  danger: #EF4444,
);

$button: (
  small: (
    height: 32px,
    min-width: 80px,
    padding: 6px 12px,
    font-size: 12px,
  ),
  medium: (
    height: 40px,
    min-width: 100px,
    padding: 8px 16px,
    font-size: 14px,
  ),
  large: (
    height: 48px,
    min-width: 120px,
    padding: 12px 24px,
    font-size: 16px,
  )
);
