@use "core/_variables" as variables;
@use "components";

:root {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: variables.$fontSize;

  @each $space, $value in variables.$spacing {
    --spacing-#{$space}: #{$value};
  }

  @each $color, $value in variables.$color {
    --color-#{$color}: #{$value};
  }

  @each $size, $value in variables.$button {
    @each $prop, $propValue in $value {
      --button-#{$size}-#{$prop}: #{$propValue};
    }
  }
}


